body {
    background-color: DimGray;
    font-family:monospace;

}

#synthMask {
    width: 1000px;
    height: 500px;
    background-color: aquamarine;
    opacity: .6;
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    font-size: 2em;
}

#synthBody {
    padding: 10px;
    background-image: url("boatsynthskin.png");
    width: 1000px;
    height: 500px;
    border: black solid 3px;
}

#synthBody button {
        position: absolute;
        background-color: #fff700;
        border: none;
        outline: none;
        padding: 3px;
        border-radius: 3px;
        
    }

    #synthBody button:active {
        position: absolute;
        background-color: #161616;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    #synthBody input[type=range] {
        position: absolute;
        -webkit-appearance: slider-vertical;
        height: 70px;
        width: 40px;
        outline: none;
    }


input[type=range]::-webkit-slider-runnable-track {
    background: #161616;
}

#osc_a_oct_Reset_btn {
    left: 113px;
    top: 187px;
}

#osc_b_oct_Reset_btn {
    left: 193px;
    top: 187px;
}



#osc_a_oct_btn {
    left: 85px;
    top: 187px;
}

#osc_a_shape_btn {
    left: 68px;
    top: 212px;
    width: 60px;
}


#osc_a_vol_sld {
    left: 75px;
    top: 110px;
}

#osc_b_oct_btn {
    left: 165px;
    top: 187px;
}

#osc_b_shape_btn {
    left: 148px;
    top: 212px;
    width:60px;
}


#osc_b_vol_sld {
    left: 155px;
    top: 110px;
 
}

#osc_sub_vol_sld {
    left: 240px;
    top: 110px;
}

#osc_detune_sld {
    left: 350px;
    top: 110px;
}


#osc_pitch_env_sld {
    left: 460px;
    top: 110px;
}


#osc_pitch_env_atk_sld {
    left: 520px;
    top: 110px;
}

#osc_pitch_env_dcy_sld {
    left: 580px;
    top: 110px;
}

#amp_attack_sld {
    left: 770px;
    top: 110px;
}

#amp_decay_sld {
    left: 880px;
    top: 110px;
}

#filter_cut_sld {
    left: 75px;
    top: 300px;
}

#filter_q_sld {
    left: 155px;
    top: 300px;
}

#filter_LFO_DEPTH_sld {
    left: 252px;
    top: 300px;
}

#linksElement{
    font-size:3em;
}

#allowAudio {
    font-size: 3em;
}

#filter_LFO_SPEED_sld {
    left: 310px;
    top: 300px;
}

#filter_FREQ_MOD_sld {
    left: 375px;
    top: 300px;
}


#filter_env_sld {
    left: 462px;
    top: 300px;
}



#filter_env_atk_sld {
    left: 518px;
    top: 300px;
}

#filter_dcy_sld {
    left: 580px;
    top: 300px;
}

#output_reverb_sld {
    left: 705px;
    top: 300px;
}

#output_dist_sld {
    left: 786px;
    top: 300px;
}

#output_comp_atk_sld {
    left: 865px;
    top: 300px;
}

#output_vol_sld {
    left: 945px;
    top: 300px;
}


.seqSteps {
    width: 87px;
    font-size:1.6em;
}


#seq_steps {
    position:absolute;
    width:900px;
    left:45px;
    top: 455px;
}

#speed_sld {
    left: 845px;
    top: 436px;
}



#drift_sld {
    left: 893px;
    top: 436px;
}

#transport_btn {
    left: 948px;
    top: 455px;
    height: 38px;
    width: 50px;

}



